<!DOCTYPE html>
<html>
  <head>
    <title>Ootsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <script type="text/javascript">
      window.cartLogo = '<%= image_url('cart_icon.png') %>'
      window.searchLogo = '<%= image_url('search_icon.png') %>'
    </script>
    <%= yield %>
  </body>
</html>
